doctype html
html
  head
    title #{title} - #{subtitle}
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src="/javascript/jquery-3.4.1.js")
    script(src="/javascript/bootstrap.js")
    script(src="/javascript/main.js")
    block scripts
    block styles
  body
    header
      .h2= title
    nav#mainNavLinks 
    .container
      .row
        div(class="col-12" id="subNav")
        
    block content
    footer footer is here
