extends layout
block content
    .container
        .row
            #mainContent.col-12 #{titleCode}

block scripts
    script.
        let titleCode = "#{titleCode}"; 
    script.
        let currentYear = "#{currentYear}";
    script(src="/javascript/title.js")